/*==============Body==============
*/

body {
  background: #C5CBE3;
}

.row {
  padding: 80px;
  background: #EFE2BA;
}
/*
============ Navbar ============
*/

#logo {
  height: 40px;
  width: 40px;
}

.navbar {
  background-color: #D79922;
}

/*
============Typography=============
*/

h1 {
  text-align: center;
  background-color: #4056A1;
  padding: 50px;
}

#intro {
  text-align: center;
}

/*
==============Footer==============
*/

.footer, .push {
  height: 50px;
  align-items: flex-end;
}
